#annual-header {
    // text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: rgba(0,0,0,.4);
    z-index: 4;

    .title {
        position: absolute;
        color: #ffffff;
        line-height: 40px;
        left: 100px;
    }
}