#note-operate {
  list-style: none;
  padding-left: 20px;

  .item-operate {
    margin: 5px 0;
    font-size: 14px;
  }

  .item-operate:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .pop-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
  }
}