#user-center {
    display: flex;

    .user-center-left, .user-center-right {
        flex-direction: column;
        width: 25%;
    }

    .user-center-right {
        width: 40%;
    }

    .user-center-center {
        padding-top: 50px;
        flex-direction: column;
        width: 35%;

        .user-info {

            img {
                width: 48px;
                height: 48px;
            }
        }

        .user-menu-items {
            padding-left: 0;
            margin-bottom: 30px;
            
            .user-menu-item {
                display: inline-block;
                list-style: none;
                margin-right: 20px;

                a {
                    color: #37a;
                }

                a:hover {
                    background-color: #37a;
                    color: #ffffff;
                }
            }
        }
    }
}


@media screen and (max-width: 600px) {
    #user-center {
        display: block;
        padding: 30px 10px;

        .user-center-left, .user-center-right {
            display: none;
        }

        .user-center-center {
            display: block;
            width: 100%;

            .user-menu-items {

                .user-menu-item {
                    margin-right: 8px;
                }
            }
        }
    }
}