#post-detail {
    display: flex;
    margin-top: 30px;
    margin-bottom: 100px;

    .left, .right {
        flex-direction: column;
    }

    .left {
        width: 70%;
    }

    .post {
        border: 1px solid #e2e2e2;
        border-radius: 4px;
        position: relative;
    }

    .right {
        width: 30%;
        margin-top: -60px;
    }

    .post-top {
        padding: 10px;
        border-bottom: 1px solid #e2e2e2;
    }

    .post-header {
        display: inline-block;
        width: 80%;
    }

    .post-avatar {
        position: absolute;
        display: inline-block;
        right: 10px;
        top: 10px;
        
        img {
            width: 73px;
            height: 73px;
            border-radius: 4px;
        }
    }

    .header {
        display: block;
    }

    .nav {

        a {
            color: #778087;
            font-size: 15px;
        }

        a:hover {
            color: #4d5256;
            text-decoration: underline;
        }
    }

    .title {
        font-size: 20px;
        font-weight: 500;
        line-height: 150%;
        margin: 15px 0px 10px 0px;
        padding: 0px;
        font-weight: bold;
        word-break: break-word;
    }

    .info {
        color: #999999;

        .v2ex {
            color: #999999;
        }
    }

    .post-operation {
        padding: 10px;
        border-radius: 0 0 3px 3px;
        text-align: left;
        font-size: 14px;
        line-height: 120%;
        background: linear-gradient(to bottom,#eee 0,#ccc 100%);

        .follow, .ignore {
            color: rgba(0, 0, 0, 0.65);
        }

        .ignore {
            margin-left: 20px;
        }

        .follow:hover, .ignore:hover {
            color: #333;
            text-decoration: none;
            display: inline-block;
            border-radius: 15px;
            text-shadow: 0 1px 0 #fff;
        }
    }

    .post-body {
        padding: 10px;
        font-size: 14px;
        line-height: 1.6;
        color: #000;
        word-break: break-word;

        a {
            color: #778087;
            text-decoration: none;
            word-break: break-word;
        }

        img {
            max-width: 100% !important;
        }
        
        h1 {
            font-size: 24px;
            font-weight: 500;
            line-height: 150%;
            margin: 0px 0px 10px 0px;
            padding: 0px;
        }
    }

    .comment {
        margin-top: 20px;
        border: 1px solid #e2e2e2;
        border-radius: 4px;

        .comment-header {
            padding: 10px;
            border-bottom: 1px solid #e2e2e2;
            height: 37px;
            position: relative;
            
            .post-node {
                position: absolute;
                right: 0;
                top: 6px;

                a {
                    padding: 5px 10px 5px 10px;
                    color: #778087;
                    line-height: 100%;
                    background-color: #f0f0f0;
                    border-radius: 10px;
                    margin: 0 5px 0 5px;
                    display: inline-block;
                }

                a:hover {
                    background-color: #99a;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }

        .pagination {
            border-bottom: 1px solid #e2e2e2;
            height: 47px;
            margin-top: 10px;
        }

        .comment-body {

            .comment-item-empty {
                text-align: center;
                padding: 10px;

                .notice, .btn-load-comment {
                    display: block;
                }
                
                .btn-load-comment {
                    margin-top: 15px;
                    border: 1px solid #e5e5e5;
                    background: linear-gradient(to bottom, #eee 0, #ccc 100%);
                    cursor: pointer;
                }
            }

            .comment-item {
                border-bottom: 1px solid #e2e2e2;
                display: flex;
                padding: 10px;

                .avatar {
                    width: 48px;
                }

                .comment-info {
                    padding-left: 10px;
                    width: 100%;
                    
                    .comment-info-top {
                        flex-direction: column;

                        .creator-name {
                            color: grey;
                            text-decoration: none;
                            word-break: break-word;
                            font-weight: bold;
                        }

                        .create-time, .create-device {
                            font-size: 11px;
                            color: #ccc;
                        }
    
                        .comment-floor {
                            float: right;    
                            font-size: 9px;
                            line-height: 9px;
                            font-weight: 500;
                            border-radius: 10px;
                            display: inline-block;
                            background-color: #f0f0f0;
                            color: #ccc;
                            padding: 2px 5px 2px 5px;
                            cursor: pointer;
                        }
                    }

                    .comment-info-content {
                        flex-direction: column;
                        margin-top: 10px;
                        font-size: 14px;
                        line-height: 1.6;
                        color: #000;
                        word-break: break-word;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 600px) {
    #post-detail {
        display: block;
        margin-top: 30px;
        // margin-bottom: 200px;
        // padding-bottom: 30px;
    
        .left, .right {
            width: 100%;
        }

        .right {
            margin-top: 60px;
        }
    }
}