.movie-record-item {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px dashed #ddd;
    margin-bottom: 10px;

    .movie-record-item-left {
        flex-direction: column;

        .movie-image {
            max-width: 100px;
        }
    }

    .movie-record-item-right {
        flex-direction: column;
        padding-left: 13px;
        width: 100%;

        .info {
            padding: 5px 10px;
            display: block;
            word-break: normal;
            width: auto;
            white-space: pre-wrap;
            word-wrap: break-word;
            overflow: hidden;
        }

        .container-info {
            padding: 5px 10px;
            background: none #f2f4f6;

            .info-name {
                color: #37a;
            }
        }

        .info-name:hover {
            cursor: pointer;
            background: none #37a;
            color: white;

            .info-name:visited {
                color: #666699;
            }
        }

        .container-description {
            height: 100%;

            .info-description {
                color: #666;
            }
        }

        .info-comment {
            color: #000;
        }

        .rate-time {
            margin-bottom: 3px;
            padding-left: 10px;

            .info-time {
                margin-left: 10px;
                margin-top: 3px;
                flex-direction: row;
                color: #666;
            }

            .primary-rate {
                float: left;
                margin-top: 2px;
            }

            .unrate-notice {
                color: #c3c1c1;
            }
        }

        .spread-button {
            padding-left: 10px;
            color: #37a;
        }
    }

}
