#movie-annual {
    position: relative;

    .previous, .next {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background: rgba(0,0,0,.2);
        border: 1px solid #fff;
        position: absolute;
        z-index: 3;
        text-align: center;
        cursor: pointer;
        outline: none;
    }

    .previous {
        right: 50px;
        bottom: 140px;

        .icon-down {
            width: 0;
            height: 0;
            margin-top: -0.5em;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            border-bottom: 25px solid #ffffff;
        }
    }

    .next {
        right: 50px;
        bottom: 50px;

        .icon-down {
            width: 0;
            height: 0;
            margin-top: 0.5em;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            border-top: 25px solid #ffffff;
        }
    }

    .annual-header {
        position: fixed;
        display: flex;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        height: 40px;
        background: rgba(0,0,0,.4);
        z-index: 4;
        color: #ffffff;
        line-height: 40px;

        .header-logo, .header-title, .header-annual-menu-btn {
            flex-direction: column;
            width: 33%;
        }

        .header-annual-menu::-webkit-scrollbar {
            display: none;
        }

        .header-annual-menu {
            position: fixed;
            width: 301px;
            right: 0;
            top: 40px;
            right: 0;
            background: rgba(0,0,0,.9);
            padding: 1.5rem 2rem 5rem 2rem;
            line-height: 1;
            white-space: nowrap;
            box-sizing: border-box;
            max-height: 100vh;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            -webkit-transition: right .5s;
            transition: right .5s;

            .menu-item {
                margin: 10px 0;
            }

            .active-menu-item {

                a {
                    color: #ffffff;
                }
            }

            a {
                color: hsla(0,0%,100%,.54);
            }

            a:visited, a:hover {
                color: #ffffff;
            }
        }

        .header-logo {
            font-size: 24px;
            padding-left: 30px;
            font-weight: 700;

            .index {
                color: #ffffff;
            }
        }

        .header-title {
            text-align: center;
        }

        .header-annual-menu-btn {
            text-align: right;

            span {
                position: relative;
                line-height: 27px;
                display: inline-block;
                width: 65px;
                height: 27px;
                padding-right: 5px;
                cursor: pointer;
                border: 1px solid;
                border-radius: 4px;

                .menu-img {
                    position: absolute;
                    left: 10px;
                    top: 5px;
                }
            }
        }
    }

    .annual-items {

        .annual-item {
            position: relative;
            background-color: #000000;

            .annual-item-body {
                position: absolute;
                width: 65%;
                height: 80%;
                left: 17%;
                top: 10%;
            }

            .annual-item-dialogue {
                width: 100%;
            }

            .annual-preview {

                .annual-preview-body {
                    position: absolute;
                    width: 414px;
                    right: 0;
                    padding: 18px;
                    border-radius: 4px;

                    .annual-name {
                        font-size: 28px;
                        font-weight: 700;
                        color: #ffffff;
                        border-bottom: 1px solid hsla(0,0%,100%,.25);
                    }
                }

                .movie-info {
                    margin-top: 20px;

                    .movie-info-top {
                        display: flex;

                        .movie-image {
                            position: relative;
                            flex-direction: column;

                            .preview-image {
                                border-radius: 4px;
                                width: 112px;
                                height: 160px;
                            }

                            .preview-badge {
                                position: absolute;
                                left: -3px;
                                top: -3px;
                            }

                            .preview-no {
                                position: absolute;
                                color: #ffffff;
                                left: 6px;
                                font-size: 12px;
                            }
                        }

                        .movie-info-right {
                            flex-direction: column;
                            padding-left: 20px;

                            .movie-title {

                                a {
                                    font-size: 24px;
                                    font-weight: 400;
                                    color:#f0f0f0;
                                    text-decoration: none;
                                }
                            }

                            .movie-rate {
                                color: hsla(0,0%,100%,.7);
                                font-size: 15px;
                                margin-top: 15px;

                                .movie-stars {
                                    color: #ffffff;
                                    font-size: 36px;
                                    padding-right: 15px;
                                }
                            }
                        }
                    }

                    .movie-info-bottom {
                        color: hsla(0,0%,100%,.6);
                        margin-top: 16px;
                        font-size: 13px;
                        line-height: 1.7;
                    }
                }
            }

            .annual-item-list {
                position: absolute;
                bottom: 50px;
                right: 0;
                display: block;
                height: 173px;
                display: flex;

                .annual-movie-item {
                    flex-direction: column;
                    margin-left: 20px;
                    width: 94px;
                    cursor: pointer;
                    list-style: none;

                    .movie-item-image {
                        position: relative;

                        .preview-image {
                            width: 94px;
                            height: 131px;
                            border-radius: 4px;
                        }

                        .preview-badge {
                            position: absolute;
                            left: -3px;
                            top: -3px;
                        }

                        .preview-no {
                            position: absolute;
                            color: #ffffff;
                            left: 2px;
                            top: 0;
                            font-size: 12px;
                        }
                    }

                    .movie-info {
                        background: rgba(0,0,0,.5);
                        color: #fff;
                        box-sizing: border-box;
                        padding: 4px 8px;
                        font-size: 12px;
                        line-height: 16px;
                        width: 100%;
                        height: 42px;
                        border-radius: 0 0 4px 4px;

                        .movie-rate {
                            color: #f6a623;
                        }
                    }
                }
            }

            .annual-dialogue {
                padding: 30px;
                position: absolute;
                bottom: 0;
                height: 182px;
                text-align: center;
                background: #000000;
                width: 100%;

                .text {
                    color: #ffffff;
                    font-size: calc(1.7rem + 3.3 * (100vw - 414px) / 952);

                    a {
                        color: inherit;
                        font-size: calc(1rem + 3.3 * (100vw - 414px) / 952);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}