#movies {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;

    .left, .right {
        flex-direction: column;
    }

    .label {
        font-size: 14px;
    }

    .left {
        width: 70%;

        .in-theaters {
            position: relative;

            .movie-tag {
                margin-left: 5px;

                .movie-tag-label {
                    margin-left: 5px;
                    margin-right: 5px;
                    color: #9B9B9B;
                }
            }

            .page-btn-dot {
                display: inline-block;
                position: absolute;
                right: 80px;
                top: 5px;
    
                .item {
                    width: 25%;
                    display: inline-block;
                    margin-right: 10px;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }

            .page-btn {
                position: absolute;
                display: inline;
                right: 30px;
                top: 5px;
                
                a {
                    text-decoration: none;
                    color: #fff;
                    width: 18px;
                    height: 18px;
                    display: inline-block;
                    zoom: 1;
                    font: 100 16px Arial;
                    text-align: center;
                    line-height: 16px;
                    margin-left: 4px;
                    outline: none;
                    border-radius: 9px;
                    background: #9b9a8e;
                }
            }
        
            .in-theaters-body {
                margin-top: 5px;
                padding-left: 0;
                border-top: 1px #cccccc solid;
                
                .movie-item {
                    display: inline-block;
                    width: 115px;
                    height: 205px;
                    margin-right: 12px;
                    margin-bottom: 15px;
                    margin-top: 10px;

                    .cover {

                        img {
                            width: 100%;
                            height: 172px;
                        }
                    }

                    .info {
                        margin-top: 5px;

                        .movie-title {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: block;
                            text-align: center;
                            
                            a {
                                color: #27a;
                            }
                        }

                        .movie-rate {
                            text-align: center;

                            b {
                                color: #e09015;
                            }
                        }
                    }
                }

                .first {
                    margin-left: 10px;
                }
            }
        }

        .coming-soon {
            position: relative;

            .page-btn-dot {
                display: inline-block;
                position: absolute;
                right: 80px;
                top: 5px;
    
                .item {
                    width: 25%;
                    display: inline-block;
                    margin-right: 10px;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }

            .page-btn {
                position: absolute;
                display: inline;
                right: 30px;
                top: 5px;
                
                a {
                    text-decoration: none;
                    color: #fff;
                    width: 18px;
                    height: 18px;
                    display: inline-block;
                    zoom: 1;
                    font: 100 16px Arial;
                    text-align: center;
                    line-height: 16px;
                    margin-left: 4px;
                    outline: none;
                    border-radius: 9px;
                    background: #9b9a8e;
                }
            }
        
            .coming-soon-body {
                margin-top: 5px;
                padding-left: 0;
                border-top: 1px #cccccc solid;
                
                .movie-item {
                    display: inline-block;
                    width: 115px;
                    height: 205px;
                    margin-right: 12px;
                    margin-bottom: 15px;
                    margin-top: 10px;

                    .cover {

                        img {
                            width: 100%;
                            height: 172px;
                        }
                    }

                    .info {
                        margin-top: 5px;

                        .movie-title {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: block;
                            text-align: center;
                            
                            a {
                                color: #27a;
                            }
                        }

                        .movie-rate {
                            text-align: center;

                            b {
                                color: #e09015;
                            }
                        }
                    }
                }

                .first {
                    margin-left: 10px;
                }
            }

            
        }

        .new-movies {
            position: relative;

            .page-btn-dot {
                display: inline-block;
                position: absolute;
                right: 80px;
                top: 5px;
    
                .item {
                    width: 25%;
                    display: inline-block;
                    margin-right: 10px;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }

            .page-btn {
                position: absolute;
                display: inline;
                right: 30px;
                top: 5px;
                
                a {
                    text-decoration: none;
                    color: #fff;
                    width: 18px;
                    height: 18px;
                    display: inline-block;
                    zoom: 1;
                    font: 100 16px Arial;
                    text-align: center;
                    line-height: 16px;
                    margin-left: 4px;
                    outline: none;
                    border-radius: 9px;
                    background: #9b9a8e;
                }
            }

            .new-movies-body {
                margin-top: 5px;
                padding-left: 0;
                border-top: 1px #cccccc solid;
                
                .movie-item {
                    display: inline-block;
                    width: 115px;
                    height: 205px;
                    margin-right: 12px;
                    margin-bottom: 15px;
                    margin-top: 10px;

                    .cover {

                        img {
                            width: 100%;
                            height: 172px;
                        }
                    }

                    .info {
                        margin-top: 5px;

                        .movie-title {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: block;
                            text-align: center;
                            
                            a {
                                color: #27a;
                            }
                        }

                        .movie-rate {
                            text-align: center;

                            b {
                                color: #e09015;
                            }
                        }
                    }
                }

                .first {
                    margin-left: 10px;
                }
            }
        }
    }

    .right {
        padding-left: 30px;
        width: 29%;

        .box-cn {
            margin-top: 10px;

            h3 {
                position: relative;
                border-bottom: 1px solid #cccccc;

                .label {
                    position: absolute;
                    right: 0;
                }
            }
            

            .box-cn-item {
                position: relative;
                margin: 10px auto;

                .title {
                    display: block;
                    color: #37a;
                    width: 180px;
                }

                .movie-box {
                    position: absolute;
                    color: #494949;
                    right: 0;
                    top: 0;
                }
            }
        }

        .box-us {
            margin: 20px auto;
            
            h3 {
                position: relative;
                border-bottom: 1px solid #cccccc;

                .label {
                    position: absolute;
                    right: 0;
                }
            }

            .box-us-item {
                margin: 10px auto;
                position: relative;

                .title {

                    a {
                        color: #3377aa;
                    }

                    a:hover {
                        color: #fff;
                        background-color: #3377aa;
                    }
                }

                .movie-box {
                    position: absolute;
                    right: 0;
                }
            }
        }

        .weekly {
            margin: 20px auto;

            h3 {
                border-bottom: 1px solid #cccccc;
            }

            .weekly-item {
                margin: 5px auto;
                position: relative;

                .title {

                    a {
                        color: #3377aa;
                    }

                    a:hover {
                        color: #fff;
                        background-color: #3377aa;
                    }
                }

                .stars {
                    color: #e09015;
                    position: absolute;
                    right: 10px;
                }
            }
        }

        .top250 {
            margin: 20px auto;

            h3 {
                border-bottom: 1px solid #cccccc;
                position: relative;

                .top250-more  {
                    position: absolute;
                    right: 0;

                    a {
                        color: #3377aa;
                        font-size: 14px
                    }
                }
            }
            
            .top250-item {
                margin: 5px auto;
                position: relative;

                .title {

                    a {
                        color: #3377aa;
                    }

                    a:hover {
                        color: #fff;
                        background-color: #3377aa;
                    }
                }

                .stars {
                    color: #e09015;
                    position: absolute;
                    right: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #movies {
        padding: 10px;
        display: block;

        .left, .right {
            width: 100%;
            display: block;
        }

        .right {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

@media screen and (max-width: 400px) {
    #movies {
        padding: 10px;
        display: block;

        .left, .right {
            width: 100%;
            display: block;
        }

        .right {
            padding-left: 10px;
            padding-right: 10px;
        }

        .left {
            
            .in-theaters {

                .in-theaters-body {
                    
                    .movie-item {
                        width: 105px;
                        margin-left: 10px;
                        margin-right: 0;
                        
                        .cover {
                            width: 105px;
    
                            img {
                                width: 105px;
                                height: 160px;
                                // height: 172px;
                            }
                        }
                    }
                }
            }

            .coming-soon {

                .coming-soon-body {
                    
                    .movie-item {
                        width: 105px;
                        margin-left: 10px;
                        margin-right: 0;
                        
                        .cover {
                            width: 105px;
    
                            img {
                                width: 105px;
                                height: 160px;
                            }
                        }
                    }
                }
            }

            .new-movies {

                .new-movies-body {
                    
                    .movie-item {
                        width: 105px;
                        margin-left: 10px;
                        margin-right: 0;
                        
                        .cover {
                            width: 105px;
    
                            img {
                                width: 105px;
                                height: 160px;
                            }
                        }
                    }
                }
            }
        }
    }
}