#movie-detail {
    margin-top: 30px;
    margin-bottom: 80px;
    display: flex;

    .left, .right {
        flex-direction: column;
    }
    
    .left {
        width: 70%;
    }

    .right {
        width: 29%;
    }

    .movie-title {

        .movie-year {
            color: #888888;
        }
    }

    .content {
        display: flex;

        .avatar {
            flex-direction: column;
            width: 23%;
            position: relative;

            img {
                margin: 0 auto;
                width: 135px;
                height: 200px;
            }

            .update {
                cursor: pointer;
                display: block;
                text-align: center;
                background-color: #FFE4B5;
                width: 135px;
                height: 26px;
                line-height: 26px;
                border-radius: 4px;
            }

            .user-operation {
                position: absolute;
                bottom: -30px;

                .want-read, .read {
                    cursor: pointer;
                    display: inline-block;
                    text-align: center;
                    background-color: #FFE4B5;
                    width: 65px;
                    height: 26px;
                    line-height: 26px;
                    border-radius: 4px;
                }
            }
        }

        .info {
            width: 52%;
            flex-direction: column;

            .movie-director, .movie-writer, .movie-cast {
                color: #3377aa;
            }

            .load-more {
                color: #aaa;
            }

            i {
                color: #000000;
            }

            .movie-pubdate, .movie-country, .movie-genre, .movie-duration, .movie-name {
                color: #000000;
            }

            .movie-box {

                span {
                    color: #000000;
                }
            }
        }

        .rate {
            width: 24%;
            flex-direction: column;
            padding-left: 20px;

            .rate-body {
                padding-left: 10px;
                border-left: 1px solid #9b9b9b;

                .rate-title {
                    display: block;
                }

                .rate-num {
                    display: block;
                    font-size: 28px;
                    min-width: 30%;
                    font-weight: 900;
                }
            }
        }
    }

    .movie-summary {
        margin-top: 50px;

        h3 {
            color: #007722;
            margin-top: 30px;
        }

        p {
            text-indent:2em;
            color: #111111;
        }

        .summary-show {

            a {
                color: #3377aa;
                cursor: pointer;
            }

            a:hover {
                background-color: #3377aa;
                color: #ffffff;
            }
        }
    }

    .movie-cast {
        margin-top: 30px;

        h3 {
            color: #007722;
            margin-top: 30px;

            .all-casts {
                color: #3377aa;
                font-size: 12px;
            }

            .all-casts:hover {
                background-color: #3377aa;
                color: #ffffff;
            }
        }

        .celebrity-item {
            display: inline-block;
            text-align: center;

            img {
                width: 95px;
                height: 133px;
                margin-right: 10px;
                margin-top: 5px;
            }

            .celebrity-name {
                overflow:hidden;
                display: block;
                width: 95px;
                text-align: center;
                white-space:nowrap;
                text-overflow:ellipsis;
            }

            .celebrity-roles-item {
                overflow: hidden;
                width: 95px;
                text-align: center;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #9b9b9b;
            }
        }
    }

    #comment-nav-root, #review-nav-root {
        display: block;
        margin: 10px 0;
    }

    .comment-nav, .review-nav {
        cursor: pointer;
    }

    .pagination {
        text-align: center;
        margin-top: 10px;
    }

    .movie-comment {
        margin-top: 15px;

        h3 {
            color: #007722;
            margin-top: 30px;
        }

        .movie-comment-item {
            border-left: #fff;
            border-right: #fff;
            border-top: 1px solid #dcdcdc;
            border-bottom: 1px solid #dcdcdc;

            .comment-info {
                padding: 10px;

                .creator-avatar {
                    float: left;

                    img {
                        width: 24px;
                    }
                }

                .creator-name {
                    float: left;
                    margin-left: 10px;

                    a {
                        color: #3377aa;
                    }

                    a:hover {
                        background-color: #3377aa;
                        color: #ffffff;
                    }
                }

                .create-time {
                    float: left;
                    margin-left: 10px;
                    color: rgb(153, 153, 153);
                }

                .votes {
                    float: right;
                    min-width: 10px;
                    padding: 3px 7px;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 1;
                    color: #fff;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: middle;
                    background-color: #777;
                    border-radius: 10px;
                }
            }

            .comment-content {
                margin: 10px 0;
            }
        }
    }

    .movie-review {
        margin-top: 15px;

        h3 {
            color: #007722;
            margin-top: 30px;
        }

        .movie-review-body {
            margin-top: 10px;

            .movie-review-item {
                border-left: #fff;
                border-right: #fff;
                border-top: 1px solid #dcdcdc;
                border-bottom: 1px solid #dcdcdc;
                
                .review-info {
                    padding: 10px;
    
                    .creator-avatar {
                        float: left;
    
                        img {
                            width: 24px;
                        }
                    }
    
                    .creator-name {
                        float: left;
                        margin-left: 10px;
    
                        a {
                            color: #3377aa;
                        }
    
                        a:hover {
                            background-color: #3377aa;
                            color: #ffffff;
                        }
                    }
    
                    .create-time {
                        float: left;
                        margin-left: 10px;
                        color: rgb(153, 153, 153);
                    }
    
                    .votes {
                        float: right;
                        min-width: 10px;
                        padding: 3px 7px;
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 1;
                        color: #fff;
                        text-align: center;
                        white-space: nowrap;
                        vertical-align: middle;
                        background-color: #777;
                        border-radius: 10px;
                    }
                }

                .review-title {
                    margin: 5px 0;

                    a {
                        color: #3377aa;
                    }

                    a:hover {
                        background-color: #3377aa;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #movie-detail {
        margin-top: 20px;
        padding: 5px;
        
        .left {
            display: block;
            width: 100%;
        }

        .right {
            display: none;
        }

        .content {

            .avatar {
                flex-direction: column;
                width: 24%;
    
                img {
                    width: 95px;
                    height: 160px;
                }

                .update {
                    width: 95px;
                }
    
                .user-operation {
                    bottom: 15px;
    
                    .want-read, .read {
                        width: 45px;
                    }
                }
            }

            .info {
                width: 50%;
                padding-left: 5px;
                font-size: 12px;
            }

            .rate {
                width: 25%;
                padding-left: 5px;
            }
        }

        .movie-cast {

            img {
                margin-left: 9px;
            }

            .celebrity-item {
    
                img {
                    width: 115px;
                    height: 172px;
                    margin-right: 10px;
                    margin-top: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    #movie-detail {
        margin-top: 20px;
        padding: 5px;
        
        .left {
            display: block;
            width: 100%;
        }

        .right {
            display: none;
        }

        .content {

            .avatar {
                flex-direction: column;
                width: 25%;
    
                img {
                    width: 95px;
                    height: 160px;
                }

                .update {
                    width: 95px;
                }
    
                .user-operation {
    
                    .want-read, .read {
                        width: 40px;
                    }
                }
            }

            .info {
                width: 52%;
                padding-left: 10px;
                font-size: 12px;
            }

            .rate {
                width: 23%;
                padding-left: 5px;
            }
        }

        .movie-cast {

            img {
                margin-left: 9px;
            }

            .celebrity-item {
    
                img {
                    width: 95px;
                    height: 133px;
                    margin-right: 10px;
                    margin-top: 5px;
                }
            }
        }
    }
}