#books {
    margin-top: 30px;

    .left, .center, .right {
        display: inline-block;
        width: 25%;
    }

    .center {
        width: 49%;

        .center-left, .center-right {
            display: inline-block;
        }

        .center-left {
            width: 70%;

            .new-book {
                position: relative;

                h2 {
                    display: inline;
                    padding-left: 10px;
                }

                .page-btn-dot {
                    display: inline-block;
                    position: absolute;
                    right: 80px;
                    top: 5px;

                    .item {
                        width: 25%;
                        display: inline-block;
                        margin-right: 10px;
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }

                .page-btn {
                    position: absolute;
                    display: inline;
                    right: 30px;
                    top: 5px;
                    
                    a {
                        text-decoration: none;
                        color: #fff;
                        width: 18px;
                        height: 18px;
                        display: inline-block;
                        zoom: 1;
                        font: 100 16px Arial;
                        text-align: center;
                        line-height: 16px;
                        margin-left: 4px;
                        outline: none;
                        border-radius: 9px;
                        background: #9b9a8e;
                    }
                }

                .new-book-body {
                    margin-top: 5px;
                    padding-top: 15px;
                    padding-left: 0;
                    border-top: 1px #cccccc solid;

                    .book-item {
                        display: inline-block;
                        width: 115px;
                        height: 205px;
                        margin-right: 19px;
                        margin-bottom: 15px;

                        .cover {

                            img {
                                width: 115px;
                                height: 172px;
                            }
                        }

                        .info {
                            margin-top: 5px;
                            padding: 0 2px;
                            text-align: center;

                            a {
                                color: #3377aa;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 1;
                            }

                            .author {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 1;
                            }
                        }
                    }

                    .last {
                        margin-right: 0;
                    }
                }
            }

            .good-market {
                position: relative;
                margin-bottom: 50px;
                margin-top: 30px;

                h2 {
                    display: inline;
                    padding-left: 10px;
                }

                .page-btn-dot {
                    display: inline-block;
                    position: absolute;
                    right: 80px;
                    top: 5px;

                    .item {
                        width: 25%;
                        display: inline-block;
                        margin-right: 10px;
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }

                .page-btn {
                    position: absolute;
                    display: inline;
                    right: 30px;
                    top: 5px;
                    
                    a {
                        text-decoration: none;
                        color: #fff;
                        width: 18px;
                        height: 18px;
                        display: inline-block;
                        zoom: 1;
                        font: 100 16px Arial;
                        text-align: center;
                        line-height: 16px;
                        margin-left: 4px;
                        outline: none;
                        border-radius: 9px;
                        background: #9b9a8e;
                    }
                }

                .good-market-body {
                    margin-top: 5px;
                    padding-top: 15px;
                    padding-left: 0;
                    border-top: 1px #cccccc solid;

                    .book-item {
                        display: inline-block;
                        width: 115px;
                        height: 205px;
                        margin-right: 10px;
                        margin-bottom: 15px;

                        .cover {

                            img {
                                width: 100%;
                                height: 172px;
                            }
                        }

                        .info {
                            padding: 0 2px;

                            a {
                                color: #3377aa;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 1;
                            }

                            .author {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 1;
                            }
                        }
                    }

                    .first {
                        margin-left: 12px;
                    }
                }
            }
        }

        .center-right {
            width: 29%;
            padding-left: 30px;
            position: absolute;

            .top250 {

                .more-top250 {
                    position: absolute;
                    left: 145px;
                    top: 5px;

                    a {
                        text-decoration: none;
                        color: #3377aa;
                    }
                }

                .top250-item {
                    height: 65px;

                    .item-body {
                        padding: 4px 0;
                        
                        a {
                            color: #3377aa;
                            font-size: 17px;
                        }

                        a:hover {
                            color: white;
                            background-color: #37a;
                        }
                    }
                }
            }

            .hot-tag {
                margin-top: 50px;
                margin-bottom: 60px;
                position: relative;

                .more-hot-tag {
                    position: absolute;
                    left: 85px;
                    top: 5px;
                    
                    a {
                        color: #3377aa;
                    }
                }

                .hot-tag-item {
                    margin-bottom: 10px;
                    padding-top: 5px;

                    .child {
                        display: inline;
                        margin-left: 5px;
                        padding: 2px;

                        a {
                            color: #37a;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #books {

        .left, .right {
            display: none;
        }
    
        .center {
            width: 100%;

            .center-left, .center-right {
                width: 100%;
                display: block;
            }

            .center-left {

                .new-book-body {

                    .book-item {
                        margin-right: 5px;

                        .info {
                            text-align: center;
                        }

                        .cover {
                            
                            img {
                                width: 95px;
                            }
                        }
                    }

                    .first {
                        margin-left: 12px;
                    }

                    .last {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 400px) {

    #books {

        .center {

            .center-left {
                
                .new-book {

                    .new-book-body {
                        margin-top: 5px;
                        padding-top: 15px;
                        padding-left: 0;
                        border-top: 1px #cccccc solid;
                
                        .book-item {
                            display: inline-block;
                            width: 105px;
                            height: 205px;
                            margin-left: 15px;
                            margin-bottom: 15px;
                            margin-right: 0;
                
                            .cover {
                
                                img {
                                    width: 105px;
                                    height: 160px;
                                }
                            }
                        }
                    }
                }

                .good-market {

                    .good-market-body {
    
                        .book-item {
                            width: 105px;
                            margin-right: 0px;
                            margin-left: 15px;
    
                            .cover {
    
                                img {
                                    width: 105px;
                                    height: 160px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}