#book-list {
    display: flex;
    margin-top: 30px;
    margin-bottom: 70px;

    .left, .right {
        width: 25%;
        flex-direction: column;
    }

    .center {
        width: 49%;
        display: flex;

        .center-left {
            width: 70%;
            flex-direction: column;

            .book-list-item {
                display: flex;
                padding-top: 20px;
                padding-bottom: 20px;
                border-top: 1px dashed #DDDDDD;

                .book-image, .book-info {
                    flex-direction: column;
                }

                .book-image {

                    img {
                        width: 90px;
                        height: 125.81px;
                    }
                }

                .book-info {
                    margin-left: 20px;

                    .book-name, .book-origin-name {
                        display: block;
                        margin-bottom: 5px;
                    }

                    .book-name {

                        a {
                            color: #3377aa;
                        }
                    }

                    .book-name:hover {

                        a {
                            background-color: #3377aa;
                            color: #ffffff;
                        }
                    }

                    .rate {
                        margin: 10px 0;
                    }

                    .summary {
                        
                        span {
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                    }
                }
            }
            
            .pagination {
                margin-top: 15px;
                text-align: center;
            }
        }

        .center-right {
            width: 29%;
            flex-direction: column;
        }
    }
}


@media screen and (max-width: 600px) {

    #book-list {

        .left, .right {
            display: none;
        }

        .center {
            width: 100%;
            padding: 10px;

            .center-right {
                display: none;
            }

            .center-left {
                width: 100%;

                .book-list-body {

                    .book-list-item {

                        .book-info {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}